.st-emotion-cache-zt5igj{
    text-align: center;
    top: -80px;
}


/* .st-emotion-cache-1v0mbdj.e115fcil1{
    
img{
    position: absolute;
    right: 0px;
    width: 700px;
}
} */

.row-widget.stButton {
    text-align: center;
}

.st-emotion-cache-1vbkxwb{
p{
    font-size: x-large;
}
}
